
<script src="~/Content/self-writing/js/Controllers/HangCanDatPurcCtrl.js"></script>

<div class="content" ng-controller="HangCanDatPurcCtrl" ng-app="myApp">
    <input type="hidden" value="@Session["USERNAME"]" id="username"/>
    <input type="hidden" value="@Session["IS_AMIN"]" id="isadmin" />
    <div class="col-md-5">
        <table class="table">
            <tr>
                <th colspan="4">List hàng cần đặt</th>
            </tr>
            <tr>
                <td></td>
                <td>Mã hàng</td>
                <td>Hãng</td>
                <td>Số lượng</td>
                <td>Ngày giao hàng</td>
            </tr>
            <tr ng-repeat="item in list_hangcandatpurc">
                <td>
                    <input type="checkbox"  ng-change="AddNewHang(item,kiemtra)" ng-model="kiemtra"/>
                </td>
                <td>{{item.MA_CHUAN}}</td>
                <td style="display:none">{{item.ID_CT_PO}}</td>
                <td style="display:none">{{item.TEN_HANG}}</td>
                <td>{{item.MA_NHOM_HANG_CHI_TIET}}</td>
                <td>{{item.SL_DAT}}</td>
                <td>{{item.NGAY_XUAT | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        <table border="1" cellpadding="2" cellspacing="0" style="width:100%; padding:5px;">
            <tbody>
                <tr height="34">
                    <td colspan="8" height="34" style="height:34px;width:100%; text-align: center; font-size: 20px">
                        <b>FORM ĐẶT HÀNG</b>
                    </td>
                </tr>
                <tr height="21">
                    <td colspan="8" height="21" style="height:21px;width:452px;"></td>
                </tr>
                <!------------------------------------------>
                <tr height="21">
                    <td colspan="8">
                        <table border="0" cellpadding="5" cellspacing="0" style="width:100%;">
                            <tr height="28">
                                <td height="28" style="height:28px;width:100px;">
                                    Nhà cung cấp:
                                </td>
                                <td colspan="4" height="28" style="height:28px;">
                                    <input type="text" ng-model="ten_ncc" ng-change="onMuaHangFind()" ng-focus="showtable_NCC_DatHang = true" ng-blur="showtable_NCC_DatHang = false" style="height:100%;width:100%;">
                                    <input type="text" class="form-control" ng-model="ma_ncc" style="display:none">
                                    <div class="input-group-btn">
                                        <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;height: 400px;overflow:auto;" ng-show="showtable_NCC_DatHang">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover" st-table="NCCCollection" st-safe-src="arrayNew_MuaFinded">
                                                    <thead class="bg-blue text-white">
                                                        <tr>
                                                            <th>Mã NCC</th>
                                                            <th>Tên NCC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor:pointer" ng-mousedown="showInfo_NCC(Lh)" ng-repeat="Lh in NCCCollection">
                                                            <td>{{Lh.MA_NHA_CUNG_CAP}}</td>
                                                            <td>{{Lh.TEN_NHA_CUNG_CAP}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td height="28" style="height:28px;width:100px;">
                                    Ngày:
                                </td>
                                <td colspan="2" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" value="@DateTime.Today.Date.ToString("dd/MM/yyyy")">
                                </td>
                            </tr>
                            <tr height="28">
                                <td height="28" style="height:28px;width:100px;">
                                    Người liên hệ:
                                </td>
                                <td colspan="4" height="28" style="height:28px;">
                                    <input type="text" ng-model="nguoi_lien_he" ng-change="onLienHeFind()" ng-focus="showtable_id_lien_he = true" ng-blur="showtable_id_lien_he = false" style="height:100%;width:100%;">
                                    <input type="text" class="form-control" ng-model="id_lien_he" ng-change="onLienHeFind()" style="display:none">
                                    <div class="input-group-btn">
                                        <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block" ng-show="showtable_id_lien_he">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover" st-table="LhCollection" st-safe-src="arrayLHFinded">
                                                    <thead class="bg-blue text-white">
                                                        <tr>
                                                            <th>Id liên hệ</th>
                                                            <th>Người lên hệ</th>
                                                            <th>Email cá nhân</th>
                                                            <th>SĐT1</th>
                                                            <th>Email công ty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor:pointer" ng-mousedown="showInfoLH(Lh)" ng-repeat="Lh in LhCollection">
                                                            <td>{{Lh.ID_LIEN_HE}}</td>
                                                            <td>{{Lh.NGUOI_LIEN_HE}}</td>
                                                            <td>{{Lh.EMAIL_CA_NHAN}}</td>
                                                            <td>{{Lh.SDT1}}</td>
                                                            <td>{{Lh.EMAIL_CONG_TY}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td height="28" style="height:28px;width:100px;">
                                    Người liên hệ:
                                </td>
                                <td colspan="2" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" value="@Session["HO_VA_TEN"]">
                                </td>
                            </tr>
                            <tr height="28">
                                <td height="28" style="height:28px;width:100px;">
                                    Địa chỉ:
                                </td>
                                <td colspan="4" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" ng-model="dia_chi_xuat_hoa_don">
                                </td>
                                <td height="28" style="height:28px;width:100px;">
                                    Email:
                                </td>
                                <td colspan="2" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" value="@Session["EMAIL"]">
                                </td>
                            </tr>
                            <tr height="28">
                                <td height="28" style="height:28px;width:100px;">
                                    Email:
                                </td>
                                <td colspan="4" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" ng-model="email_cong_ty">
                                </td>
                                <td height="28" style="height:28px;width:100px;">
                                    SĐT:
                                </td>
                                <td colspan="2" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" value="@Session["SDT"]">
                                </td>
                            </tr>
                            <tr height="28">
                                <td height="28" style="height:28px;width:100px;">
                                    Tel:
                                </td>
                                <td height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" ng-model="sdt">
                                </td>
                                <td height="28" style="height:28px;">
                                    Fax:
                                </td>
                                <td colspan="2" height="28" style="height:28px;">
                                    <input type="text" style="height:100%;width:100%;" ng-model="fax">
                                </td>
                                <td colspan="3" height="28" style="height:28px;"></td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <tr height="21">
                    <td colspan="4" height="38" rowspan="2" style="height:38px;width:520px;">
                        Danh sách đặt hàng
                    </td>
                    <td colspan="4" rowspan="2" style="width:353px;">
                       Thuế VAT : <input ng-model="thue_vat" ng-init="thue_vat=10.00" ng-change="test(detail)" placeholder="Thuế VAT"/>
                    </td>
                </tr>
                <tr height="17"></tr>
                <tr height="34">
                    <td height="34" style="height:34px;width:39px;">
                        <b>STT</b>
                    </td>
                    <td style="width:296px;">
                        <b>Mã hàng</b>
                    </td>
                    <td style="width:117px;text-align:center">
                        <b>Hãng sx</b>
                    </td>
                    <td style="width:68px;text-align:center">
                        <b>SL</b>
                    </td>
                    <td style="width:133px;text-align:center">
                        <b>Đơn giá</b><br />
                        <i>chưa VAT (VNĐ)</i>
                    </td>
                    <td style="width:167px;text-align:center">
                        <b>Thành tiền</b><br />
                        <i>chưa VAT (VNĐ)</i>
                    </td>
                    <td>Thời gian giao hàng</td>
                    <td>Ghi chú</td>
                </tr>
                <tr height="43" ng-repeat="(index,detail) in Detail.ListNew">
                    <td height="43" style="height:43px;width:39px;">
                        {{$index + 1}}
                    </td>
                    <td align="left">
                        <input type="text" class="form-control" ng-model="detail.ma_dieu_chinh" style="height:21px;width:100%; margin-bottom:5px">
                        <input type="text" class="form-control" ng-model="detail.ma_hang" style="display:none">

                        <input type="text" style="height:21px;width:100%;" ng-model="detail.ten_hang">
                    </td>
                    <td style="width:117px;">
                        <input type="text" style="height:21px;width:100%; margin-bottom:5px" ng-model="detail.hang"><br />
                    </td>
                    <td>
                        <input type="number" style="height:35px;width:95%;" ng-model="detail.so_luong" ng-change="test(detail)">
                    </td>
                    <td align="right"> 
                        <input type="text" style="height:21px;width:95%;text-align:right" format="number" ng-model="detail.don_gia_chua_vat" ng-change="test(detail)">
                    </td>
                    <td align="right">
                        {{detail.thanh_tien_chua_vat | currency : '' : 0}}
                        <input type="number" ng-model="detail.thanh_tien_chua_vat" readonly style="display:none" />
                    </td>
                    <td>
                        <input type="text" ng-model="detail.thoi_gian_giao_hang" placeholder="Thời gian giao hàng"/>
                    </td>
                    <td>
                        <input type="text" ng-model="detail.ghi_chu" placeholder="Ghi chú" />
                    </td>
                </tr>
                <tr height="31">
                    <td height="31" style="height:31px;">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5">
                        <b>Tổng cộng</b>
                    </td>
                    <td align="right"> <b ng-model="tong_tien_hang">{{tong_tien_hang | number:0}}</b></td>
                </tr>
                <tr height="31">
                    <td height="31" style="height:31px;">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5">
                        <b>Tiền thuế VAT (10%)</b>
                    </td>
                    <td align="right"><b ng-model="tien_thue_vat">{{tien_thue_vat | number : 0}}</b></td>
                </tr>
                <tr height="31">
                    <td height="31" style="height:31px;">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5">
                        <b>TỔNG GIÁ TRỊ ĐƠN HÀNG (Đã bao gồm VAT)</b>
                    </td>
                    <td align="right"><b ng-model="tong_tien_da_bao_gom_vat">{{tong_tien_da_bao_gom_vat | number:0}}</b></td>
                </tr>
                <tr height="25">
                    <td height="25" style="height:25px;"></td>
                    <td align="right"><b>Bằng chữ:</b></td>
                    <td colspan="6"><b ng-model="tong_tien_bang_chu">{{tong_tien_bang_chu}} đồng</b></td>
                </tr>
                <tr height="17">
                    <td colspan="8" height="17" style="height:17px;">
                        &nbsp;
                    </td>
                </tr>
                <tr height="21">
                    <td colspan="8" height="21" style="height:21px;width:873px;"><b>Các điều khoản thương mại:</b></td>
                </tr>
                <tr height="21">
                    <td colspan="2" height="21" style="height:21px;">
                        1/ Địa điểm giao hàng:
                    </td>
                    <td colspan="6" height="21" style="height:21px;">
                        <input type="text" style="height:21px;width:100%;" ng-model="dia_diem_giao_hang" ng-init="dia_diem_giao_hang='Giao hàng tại kho bên mua'">
                    </td>
                </tr>
                <tr height="21">
                    <td colspan="2" height="21" style="height:21px;">
                        2/ Hình thức thanh toán:
                    </td>
                    <td colspan="6" height="21" style="height:21px;">
                        <input type="text" style="height:21px;width:100%;" ng-model="hinh_thuc_thanh_toan" ng-init="hinh_thuc_thanh_toan='Thanh toán bằng chuyển khoản'">
                    </td>
                </tr>
                <tr height="21">
                    <td colspan="2" height="21" style="height:21px;">
                        3/ Hình thức vận chuyển:
                    </td>
                    <td colspan="6" height="21" style="height:21px;">
                        <input type="text" style="height:21px;width:100%;" ng-model="hinh_thuc_van_chuyen" ng-init="hinh_thuc_van_chuyen='Chuyển nhanh,bên mua chịu phí' ">
                    </td>
                </tr>
                <tr height="21">
                    <td colspan="2" height="21" style="height:21px;">
                       4/ Thời hạn thanh toán :
                    </td>
                    <td colspan="6" height="21" >
                        <input type="text" style="height:21px;width:100%;" ng-model="thoi_han_thanh_toan" ng-init="thoi_han_thanh_toan='Đặt cọc 30% giá trị đơn hàng ngay sau khi ký hơp đồng, 70% còn lại trong vòng 30 ngày kể  từ khi nhận được hàng'">
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button" ng-click="CreateNewMuaHang()" class="btn btn-default">Lưu</button>
    </div>
</div>
