
@{
    ViewBag.Title = "Tồn Kho Trường An Đà Nẵng";
}
<h2>Nhập dữ liệu tồn kho Trường An Đà Nẵng</h2>
<div class="content">
    <div class="col-md-6">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <table>


                        <tr>

                            <td>
                                <h1>Import tồn</h1>

                            </td>
                            <td>
                                <a href="~/Content/Files/IMPORT_HANGTONKHO.xlsx" class="fa fa-file-excel-o"> Get sample file</a>

                            </td>
                        </tr>
                        <tr>
                            <!-- Form Name -->

                            <td class="col-md-6">
                                @using (Html.BeginForm("Import_TonKhoDN", "ImportHangHoa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    <h3>New import</h3>
                                    <hr />
                                    <input type="file" name="UploadedFile" class="file" value="Choose File From Your Computer">
                                    <br />
                                    <input type="submit" class="btn btn-success" value="Add" />

                                }
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-top: 12px; padding-left:12px" colspan="2">
                                Dữ liệu trên tệp mà chưa có trong hệ thống thì sẽ được thêm vào, các dữ liệu khác sẽ giữ nguyên
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <p style="color:blue">@ViewBag.Message</p>
                                <p style="color:red">@ViewBag.Dongloi</p>

                                <p style="color:blue">@ViewBag.Information</p>
                                <p style="color:red">@ViewBag.Error</p>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <table>


                        <tr>

                            <td>
                                <h1>Update Tồn</h1>

                            </td>
                            <td>
                                <a href="~/Content/Files/IMPORT_HANGTONKHO.xlsx" class="fa fa-file-excel-o"> Get sample file</a>

                            </td>
                        </tr>
                        <tr>
                            <!-- Form Name -->

                            <td colspan="2">
                                @using (Html.BeginForm("Update_TonKhoDN", "ImportHangHoa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    <h3>Import Update</h3>
                                    <hr />
                                    <input type="file" name="UploadedFile" class="file" value="Choose File From Your Computer">
                                    <br />
                                    <input type="submit" class="btn btn-success" value="Add" />

                                }
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-left:12px; padding-top: 12px;" colspan="2">
                                Toàn bộ dữ liệu trên tệp sẽ được cập nhật trên hệ thống
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                                <p style="color:blue">@ViewBag.Message</p>
                                <p style="color:red">@ViewBag.Dongloi</p>

                                <p style="color:blue">@ViewBag.Information</p>
                                <p style="color:red">@ViewBag.Error</p>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>